.post-subtitle {
    text-align: justify;
    font-size: 22px;
    font-weight: 400;
}

.post-title {
    font-weight: 800;
}

a.read-more {
    text-decoration: none !important;
}

.latestPosts li {
    list-style-type: none;
}

.latestPosts {
    font-size: 16px;
}

.post-header {
    background: url("../images/post-bg.jpg") no-repeat;
}

a.read-more {
    color: #0085a1;
}

.comment-header {
    font-weight: bloder;
    font-size: 28pt;
    color: #084c8d;
}

.comments {
    font-size: 12pt;
}